{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "useTabs": false,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"],

  "htmlWhitespaceSensitivity": "ignore",
  "tailwindStylesheet": "~/assets/css/main.css"
}
